.contact-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
}

.contact-page ul{
    list-style: none;
    margin: 20px 0;
}
.contact-page ul li{
    padding: 10px 0;
}
.contact-page ul li a .icon{
    background: var(--gradient-effect);
    width: 80px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -25px;
    position: relative;
    
}
.contact-page ul li:hover{
    transform: scale(1.05);
}

.contact-page ul li:active{
    transform: scale(0.95);
}
.contact-page ul li a{
    text-decoration: none;
}
.contact-page ul li a .icon svg{
    color: var(--text-contrast);
    font-size: 19px;
}
.contact-page ul li a:hover .icon{
    transform: scale(1.1);
}
.contact-page ul li a:hover .icon svg{ 
    animation: balanco 2.7s infinite linear;
    font-size: 22px;
}
@keyframes balanco {
    0%{
        transform: rotate(0);
    }
    25%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(0);
    }
}


.contact-page ul li a .info-contact{
    background-color: var(--fundo-blocos);
    border-radius: 15px;
    height: auto;
    display: flex;
    align-items: center;
    padding: 20px 20px;
    padding-top: 30px;
}
