.resumo-container{
    width: calc(75% - 10px);
    height: 100%;
    margin: 0 5px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.text-container{
    width: 100%;
    background: var(--fundo-blocos);
    border-radius: 15px;
    height: calc(50% - 5px);
    padding: 2% 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.description{
    width: 100%;
}
.description h3{
    margin-bottom: 5px;
}
.description p{
    margin-bottom: 5px;
}
.description ul{
    list-style: none;
    display: flex;
}
.description ul li{
    padding: 0 5px;
}
.description ul li svg{
    font-size: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1300px){
   
}

@media only screen and (max-width: 800px){
    

}

@media only screen and (max-width:700px){
    .resumo-container{
        width: calc(100% - 10px);
        margin: 5px;
    }
    .resumo-container{
        height: 100vh;
    }
}

