.botao{
    width:70px;
    height: 35px;
    background: var(--gradient-effect);
    border-radius: 15px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.back{
    width: 95%;
    height: 90%;
    background-color: var(--fundo-site);
    border-radius: 30px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bullet{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: var(--gradient-effect);
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.bullet.Dark{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background: var(--gradient-effect);
    top: 50%;
    left: 38px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.bullet svg {
    color: var(--text-contrast);
    font-size: 19px;
    margin-right: 0.04em;
}
@media only screen and (max-width: 1050px){
    .botao{
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }
}